@charset "UTF-8";
* {
  font-family: "Racing Sans One", sans-serif;
  margin: 0;
}

h1 {
  padding-top: 150px;
}

h3 {
  padding-top: 25vh;
}

h4 {
  padding: 15px 0;
}

ul {
  list-style: none;
}

body {
  background: rgba(215, 215, 215, 0.8);
}

header .nav-bleu {
  background: #15151e;
}
header nav {
  z-index: 999;
  background: #e10600;
}
header nav .btn-ajouter {
  background: #1f1f27;
  line-height: 15px;
  letter-spacing: 0.5px;
  font-size: 12px;
  padding: 5px;
  margin: 5px;
  border-radius: 4px;
  max-height: 30px;
}
header nav a {
  color: white !important;
  text-decoration: none;
}
header nav .no-border {
  border: none !important;
  background: transparent !important;
}
header nav img {
  border-radius: 10%;
  width: 50px;
  height: 50px;
  object-fit: cover;
  padding: 2px;
  background: black;
  margin: 4px 0;
}

section.login-container {
  display: flex;
}

section.login-container > div {
  width: 450px;
  padding: 20px;
  text-align: center;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 150px auto;
}

section.login-container form {
  display: flex;
  flex-direction: column;
}

form input[type=password],
form input[type=text],
form button[type=submit],
form input[type=email],
form input[type=date] {
  width: 100%;
  margin-bottom: 20px;
  padding: 16px;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: 0;
}

form input[type=text]:focus,
form input[type=date]:focus,
form input[type=text]:hover,
form input[type=email]:hover,
form input[type=password]:focus,
form input[type=date]:hover,
form input[type=password]:hover {
  background-color: #ccc;
}

form button[type=submit] {
  font-weight: bold;
  color: #eee;
  text-transform: uppercase;
  background: #e10600;
}

form button[type=submit]:focus,
form button[type=submit]:hover {
  background-color: #8d0400;
}

.img-previsu {
  max-width: 150px;
}

.card img {
  height: 230px;
  object-fit: cover;
}

.Attaquant {
  color: red;
}

.Défenseur {
  color: #00a5ff;
}

.Gardien {
  color: #e1d000;
}

.Milieu {
  color: darkgreen;
}

@media screen and (min-width: 1000px) {
  .decalage:nth-child(even) {
    margin-top: 80px;
  }
}
.decalage:nth-child(even) {
  margin: 80px 0;
}

.podium {
  height: 90vh;
}
.podium .podiumdeouf {
  position: relative;
}

.image-podium {
  width: 166px;
}

.p0 {
  position: absolute;
  top: 132px;
  left: 702px;
  transition: all 2s ease-in;
}

.p1 {
  position: absolute;
  top: 227px;
  left: 455px;
  transition: all 2s ease-in;
}

.p2 {
  position: absolute;
  top: 237px;
  right: 439px;
  transition: all 2s ease-in;
}

.t0 {
  order: 2;
}

.t1 {
  order: 1;
}

.t2 {
  order: 3;
}

.font {
  font-size: 2.4rem;
}

.marge {
  margin-top: -150px;
}

.Alfa {
  background-color: #b3b3b3;
  border-radius: 5px;
}

.AlphaTauri {
  background: #7b7990;
  border-radius: 5px;
}

.Alpine {
  background: #3296ba;
  border-radius: 5px;
}

.Aston {
  background: #41996b;
  border-radius: 5px;
}

.Ferrari {
  background: #ff1313;
  border-radius: 5px;
}

.Haas {
  background: #cd9b9b;
  border-radius: 5px;
}

.McLaren {
  background: #f0771d;
  border-radius: 5px;
}

.Mercedes {
  background: #5e5e5e;
  border-radius: 5px;
}

.Bull {
  background: #354164;
  border-radius: 5px;
}

.Williams {
  background: #55e5f5;
  border-radius: 5px;
}

.flechejaune {
  position: fixed;
  right: 20px;
  bottom: 10px;
}

/*# sourceMappingURL=style.css.map */
